a {
  color: black; }

.wrap {
  width: 90%;
  margin: auto; }

header {
  padding-top: 100px;
  padding-bottom: 80px;
  border-bottom: solid black 5px;
  background-image: url(../img/small_steps.png);
  margin-bottom: 80px;
  min-height: 350px; }
  header .textcenter .h1, header h1 {
    font-size: 3.5em; }
  header p {
    font-size: 1.5em;
    padding: 30px 0px 30px 0px;
    width: 80%; }

.navbar-inverse {
  background-color: #AEEA00;
  border: none;
  border-bottom: solid black 5px; }
  .navbar-inverse .navbar-nav li > a, .navbar-inverse .navbar-brand {
    color: black; }

.login {
  padding-bottom: 40px; }
  .login .sectionTitle {
    padding-bottom: 20px; }

footer {
  border-top: solid black 5px;
  background-color: #AEEA00; }
  footer h3 {
    padding: 20px 0px 20px 0px; }
  footer ul {
    padding: 0px; }
  footer li {
    list-style-type: none;
    padding: 5px 0px 5px 0px; }
    footer li a:hover {
      text-decoration: none;
      color: white; }
  footer .footerBottom {
    background-color: black;
    padding: 20px;
    margin-top: 40px; }
    footer .footerBottom .copyright {
      color: white; }
  footer .social a :hover {
    color: white;
    text-decoration: none; }
  footer .social a i {
    padding: 0px 8px 0px 8px; }
  footer hr {
    border-bottom: solid black 3px;
    color: black; }

.store {
  min-height: 60px;
  padding-bottom: 40px; }
  .store .welcomeMessage {
    font-size: 1.5em; }
  .store .sectionTitle {
    padding-bottom: 40px;
    color: black; }

.productManager h3 {
  padding: 20px 20px 20px 20px; }

.productManager hr {
  border-bottom: solid black 3px;
  color: black; }
